<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Nnp_Hello>
            <version>0.0.1</version>
        </Nnp_Hello>
    </modules>
    <global>
        <blocks>
            <hello>
                <class>Nnp_Hello_Block</class>
            </hello>
        </blocks>
        <helpers>
            <hello>
                <class>Nnp_Hello_Helper</class>
            </hello>
        </helpers>
        <models>
            <hello>
                <class>Nnp_Hello_Model</class>
                <resourceModel>hello_resource</resourceModel>
            </hello>
            <hello_resource>
                <class>Nnpt_Hello_Model_Resource</class>
                <entities>
                    <subscription>
                        <table>hello_subscription</table>
                    </subscription>
                </entities>
            </hello_resource>
        </models>
        <resources>
            <hello_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hello_write>
            <hello_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hello_read>
            <hello_install>
                <setup>
                    <module>Nnp_Hello</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hello_install>
        </resources>
    </global>
    <frontend>
        <routers>
            <hello>
                <use>standard</use>
                <args>
                    <module>Nnp_Hello</module>
                    <frontName>hello</frontName>
                </args>
            </hello>
        </routers>
        <layout>
            <updates>
                <hello>
                    <file>nnp_hello.xml</file>
                </hello>
            </updates>
        </layout>
    </frontend>
</config>