<?xml version="1.0"?>
<config>
    <modules>
        <Stableflow_CustomMenu>
            <version>0.1.0</version>
        </Stableflow_CustomMenu>
    </modules>
    <global>
        <helpers>
            <custommenu>
                <class>Stableflow_CustomMenu_Helper</class>
            </custommenu>
        </helpers>
        <blocks>
            <custommenu>
                <class>Stableflow_CustomMenu_Block</class>
            </custommenu>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_front>Stableflow_CustomMenu_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Front</catalog_product_attribute_edit_tab_front>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <custommenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </custommenu_write>
            <custommenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </custommenu_read>
            <custommenu_setup>
                <setup>
                    <module>Stableflow_CustomMenu</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </custommenu_setup>
        </resources>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <add_position_field>
                        <type>model</type>
                        <class>Stableflow_CustomMenu_Model_Observer</class>
                        <method>addPositionToAttribute_</method>
                    </add_position_field>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <adminhtml_block_html_before>
                <observers>
                    <add_position_field_front>
                        <type>model</type>
                        <class>Stableflow_CustomMenu_Model_Observer</class>
                        <method>addPositionToAttribute</method>
                    </add_position_field_front>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </global>
</config>