<?xml version="1.0"?>
<config>
    <modules>
        <Stableflow_company>
            <version>0.1.0</version>
        </Stableflow_company>
    </modules>
    <global>
        <models>
            <company>
                <class>Stableflow_Company_Model</class>
                <resourceModel>company_resource</resourceModel>
            </company>
            <company_resource>
                <class>Stableflow_Company_Model_Resource</class>
                <entities>
                    <company_entity>
                        <table>company_entity</table>
                    </company_entity>
                    <company_entity_datetime>
                        <table>company_entity_datetime</table>
                    </company_entity_datetime>
                    <company_entity_decimal>
                        <table>company_entity_decimal</table>
                    </company_entity_decimal>
                    <company_entity_int>
                        <table>company_entity_int</table>
                    </company_entity_int>
                    <company_entity_text>
                        <table>company_entity_text</table>
                    </company_entity_text>
                    <company_entity_varchar>
                        <table>company_entity_varchar</table>
                    </company_entity_varchar>
                    <company_entity_char>
                        <table>company_entity_char</table>
                    </company_entity_char>

                    <address_entity>
                        <table>address_entity</table>
                    </address_entity>
                    <address_entity_datetime>
                        <table>address_entity_datetime</table>
                    </address_entity_datetime>
                    <address_entity_decimal>
                        <table>address_entity_decimal</table>
                    </address_entity_decimal>
                    <address_entity_int>
                        <table>address_entity_int</table>
                    </address_entity_int>
                    <address_entity_text>
                        <table>address_entity_text</table>
                    </address_entity_text>
                    <address_entity_varchar>
                        <table>address_entity_varchar</table>
                    </address_entity_varchar>
                    <address_entity_char>
                        <table>address_entity_char</table>
                    </address_entity_char>
                </entities>
            </company_resource>
        </models>
        <helpers>
            <company>
                <class>Stableflow_Company_Helper</class>
            </company>
        </helpers>
        <blocks>
            <company>
                <class>Stableflow_Company_Block</class>
            </company>
        </blocks>
        <resources>
            <company_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </company_write>
            <company_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </company_read>
            <company_setup>
                <setup>
                    <module>Stableflow_Company</module>
                    <class>Stableflow_Company_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </company_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <company>
                        <class>stableflow_company/observer</class>
                        <method>addMenuItems</method>
                        <!--<method>addItemsToTopmenu</method>-->
                    </company>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <routers>
            <company>
                <use>standard</use>
                <args>
                    <module>Stableflow_Company</module>
                    <frontName>company</frontName>
                </args>
            </company>
        </routers>
        <layout>
            <updates>
                <company>
                    <file>stableflow_company.xml</file>
                </company>
            </updates>
        </layout>
        <translate>
            <modules>
                <Stableflow_Company>
                    <files>
                        <default>stableflow_company.csv</default>
                    </files>
                </Stableflow_Company>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <company before="Mage_Adminhtml">Stablefow_Company_Adminhtml</company>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>